<ion-content class="ion-padding">

  <div class="intro-container">
    <img src="assets/img/video-call-logo.png.png" alt="Video Call Logo" class="logo animated-logo" />

    <h1 class="intro-title fade-in">¡Conéctate en un instante!</h1>
    <p class="intro-subtitle fade-in-delay">
      Videollamadas rápidas y seguras, desde cualquier lugar.
    </p>

    <ion-button expand="block" shape="round" class="start-button pulse" (click)="goToLogin()">
      ¡Empezar!
    </ion-button>
  </div>

</ion-content>
